<?php //mysql_header.php -->benfay
session_name("ganglion");
session_start();
//
$server	=	"localhost";		//MySQL-Server
$user	=	"*****";		//MySQL-User
$pass	=	"*****";		//MySQL-Passwort
$db		=	"ganglion";		//MySQL-Datenbank
//
$conn1	=	mysqli_connect($server, $user, $pass);
$select	=	mysqli_select_db($conn1, $db);
mysqli_query($conn1, "SET NAMES 'utf8'"); mysqli_query($conn1, "SET CHARACTER SET utf8"); 
//
?>
